h1{
	margin-top: 35px;
	margin-left: 70px;
	color: gold;
}
#p1{
	font-style: oblique ;
	margin-top: 50px;
	color: white;
}
#p2{
	font-style: oblique;
	color: white;
	margin-left: 20px;
}
#p3{
	font-style: oblique;
	color: white;
	margin-left: 20px;
}
#p4{
	font-style: oblique;
	margin-top: 50px;
	color: white;
}
#p5{
	font-style: oblique;
	color: white;
}
#p6{
	font-style: oblique;
	margin-top: 50px;
	color: white;
}
