body {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
body #page {
	background: url("../images/bg-home.jpg") no-repeat scroll center top #000000;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
	z-index: 3;
}
a {
	text-decoration: none;
	outline: none;
}
a:active {
	background: none;
}
img {
	border: none;
}
/*----------------------------------------header-styles---------------------------------------*/
#header {
	background: url(../images/bg-transparent1.png) repeat;
	margin: 0;
	min-height: 60px;
	padding: 0;
	width: auto;
}
#header div {
	margin: 0 auto;
	max-width: 940px;
	min-height: 60px;
	padding: 0 10px;
}
#header div ul {
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: auto;
}
#header div ul li {
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
}
#header div ul li a {
	color: #ffffff;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 59px;
	margin: 0;
	min-height: 60px;
	padding: 0 24px;
 *padding: 0 23px; /* Needed for IE8 and old versions */
	text-align: center;
	text-transform: uppercase;
	width: auto;
}
#header div ul li a:hover {
	background-color: #620031;
	color: #ffffff;
}


/*----------------------------------------body-home-styles---------------------------------------*/
#body {
	background-color: #000000;
	margin: 0;
	min-height: 808px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body.home {
	background: none;
	margin: 0;
	min-height: 1308px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body.home .header {
	background: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body.home .header div {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 0 10px;
	position: relative;
}
#body.home .header div img.satellite {
	display: block;
	left: 10px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 41px;
	width: auto;
	z-index: 50;
}
#body.home .header div h1 {
	color: #FFFFFF;
	display: block;
	float: right;
	font-family: audiowide-regular-webfont;
	font-size: 60px;
	font-weight: normal;
	line-height: 60px;
	margin: 187px 0 27px;
	padding: 0 38px 0 399px;
	position: relative;
	text-align: right;
	text-transform: uppercase;
	width: 503px;
	z-index: 60;
}
#body.home .header div h2 {
	color: #FFFFFF;
	display: block;
	float: right;
	font-family: Arial;
	font-size: 43px;
	font-weight: normal;
	line-height: 43px;
	margin: 0 0 36px;
	padding: 0 146px 0 506px;
	position: relative;
	text-align: right;
	text-transform: uppercase;
	width: 288px;
	z-index: 60;
}
#body.home .header div h3 {
	background: url("../images/bg-transparent1.png") repeat;
	color: #A3A3A3;
	float: left;
	font-family: audiowide-regular-webfont;
	font-size: 23px;
	font-weight: normal;
	line-height: 23px;
	margin: 96px 0 0;
 *margin: 102px 0 0;/* Needed for IE8 and old versions */
	min-height: 27px;
	padding: 17px 0 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 940px;
}
#body.home .header div ul {
	display: inline-block;
	list-style: none outside none;
	margin: 0 0 -6px;
	overflow: hidden;
	padding: 0;
	width: auto;
}
#body.home .header div ul li:first-child {
	padding: 0;
}
#body.home .header div ul li {
	border: medium none;
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
}
#body.home .header div ul li a {
	display: block;
	float: none;
	height: 156px;
	margin: 0;
	padding: 0;
	width: 235px;
}
#body.home .header div ul li a img {
	cursor: pointer;
	filter: alpha(opacity=100);/* Needed for IE8 and old versions */
	opacity: 1.0;
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
#body.home .header div ul li a img:hover {
	filter: alpha(opacity=70);/* Needed for IE8 and old versions */
	opacity: 0.7;
}
#body.home .body {
	background-color: #630031;
	margin: 0;
	min-height: 168px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body.home .body div {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 31px 10px 0;
}
#body.home .body div h1 {
	color: #FFFFFF;
	display: block;
	font-family: audiowide-regular-webfont;
	font-size: 32px;
	font-weight: normal;
	line-height: 32px;
	margin: 0 auto 24px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 780px;
}
#body.home .body div p {
	color: #ffffff;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 780px;
}
#body.home .body div p a {
	color: #ffffff;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 auto;
	padding: 0;
	text-decoration: underline;
}
#body.home .body div p a:hover {
	color: #a3a3a3;
}
#body.home .footer {
	background-color: #000000;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body.home .footer div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 32px 0 16px;
}
#body.home .footer div ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
}
#body.home .footer div ul li:first-child {
	float: left;
	margin: 0 10px;
	padding: 0;
	width: 460px;
}
#body.home .footer div ul li {
	float: left;
	margin: 0 0 0 10px;
	padding: 0 0 0 20px;
	width: 440px;
}
#body.home .footer div ul li h1 {
	color: #FFFFFF;
	font-family: audiowide-regular-webfont;
	font-size: 32px;
	font-weight: normal;
	line-height: 32px;
	margin: 0 0 44px;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}
#body.home .footer div ul li a {
	display: block;
	height: 258px;
	margin: 0;
	position: relative;
	padding: 0;
	width: 460px;
}
#body.home .footer div ul li a img {
	cursor: pointer;
	filter: alpha(opacity=100);/* Needed for IE8 and old versions */
	opacity: 1.0;
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
#body.home .footer div ul li a:hover img {
	filter: alpha(opacity=70);/* Needed for IE8 and old versions */
	opacity: 0.7;
}
#body.home .footer div ul li a span {
	background: url(../images/icons.png) no-repeat 0 -152px;
	display: block;
	height: 72px;
	left: 199px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 94px;
	width: 62px;
}
#body.home .footer div ul li a:hover span {
	background: url(../images/icons.png) no-repeat 0 -226px;
}
#body.home .footer div ul li ul {
	display: inline-block;
	list-style: none outside none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 440px;
}
#body.home .footer div ul li ul li {
	border-top: 1px solid #A3A3A3;
	float: none;
	margin: 0;
	overflow: hidden;
	padding: 39px 10px 38px 0;
	width: 440px;
}
#body.home .footer div ul li ul li:first-child {
	border: medium none;
	margin: 0;
	padding: 0 0 38px;
	width: 440px;
}
#body.home .footer div ul li ul li a {
	display: block;
	float: left;
	height: 90px;
	margin: 0 20px 0 0;
	padding: 0;
	width: 100px;
}
#body.home .footer div ul li ul li a img {
	cursor: pointer;
	filter: alpha(opacity=100);/* Needed for IE8 and old versions */
	opacity: 1.0;
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
#body.home .footer div ul li ul li a img:hover {
	filter: alpha(opacity=70);/* Needed for IE8 and old versions */
	opacity: 0.7;
}
#body.home .footer div ul li ul li h1 {
	color: #A3A3A3;
	float: left;
	font-family: audiowide-regular-webfont;
	font-size: 23px;
	font-weight: normal;
	line-height: 23px;
	margin: 0;
	padding: 4px 0 8px;
	text-align: left;
	text-transform: uppercase;
	width: 310px;
}
#body.home .footer div ul li ul li span {
	color: #FFFFFF;
	display: block;
	float: left;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
	margin: 0 0 10px;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
	width: 310px;
}
#body.home .footer div ul li ul li a.more {
	background-color: #3c0f38;
	color: #ffffff;
	display: block;
	float: right;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	height: 31px;
	line-height: 31px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 120px;
}
#body.home .footer div ul li ul li a.more:hover {
	background-color: #620031;
}
/*----------------------------------------body-styles---------------------------------------*/

#body .header div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 65px 0 40px;
}

#body .header {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
#body .header div ul {
	display: inline-block;
	max-width: 940px;
	list-style: none outside none;
	margin: 0;
	padding: 3px 10px 0;
}
#body .header div ul li:first-child {
	border: none;
	padding: 0 0 38px;
}
#body .header div ul li {
	border-top: 1px solid #A3A3A3;
	margin: 0;
	overflow: hidden;
	padding: 38px 0;
	width: auto;
}
#body .header div ul li a {
	display: block;
	float: left;
	height: 217px;
	margin: 0 40px 0 0;
	padding: 0;
	width: 380px;
}
#body .header div ul li a img {
	cursor: pointer;
	filter: alpha(opacity=100);/* Needed for IE8 and old versions */
	opacity: 1.0;
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
#body .header div ul li a img:hover {
	filter: alpha(opacity=70);/* Needed for IE8 and old versions */
	opacity: 0.7;
}
#body .header div ul li div {
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 520px;
}
#body .header div ul li div h1 {
	color: #A3A3A3;
	font-family: audiowide-regular-webfont;
	font-size: 23px;
	font-weight: normal;
	line-height: 23px;
	margin: 0 0 26px;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
	width: 520px;
}
#body .header div ul li div p {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 41px;
	padding: 0;
	text-align: left;
	width: 520px;
}
#body .header div ul li div p a {
	color: #FFFFFF;
	display: inline;
	float: none;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	height: auto;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
	width: auto;
}
#body .header div ul li div p a:hover {
	color: #a3a3a3;
}
#body .header div ul li div a.more {
	background-color: #3c0f38;
	color: #ffffff;
	display: block;
	float: right;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	height: 31px;
	line-height: 31px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 120px;
}